{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/no-extraneous-dependencies": [0],
    "react/destructuring-assignment": ["always"]
  },
  "globals": {
    "__DEV__": true
  },
  "plugins": ["jest"],
  "env": {
    "jest/globals": true,
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest": true,
    "node": true
  }
}
